@model RemoveDepartmentVM
@{
    ViewData["Title"] = "Удаление подразделения";
}
<h3>@ViewData["Title"]</h3>
<h1>@Model.DepartmentName</h1>

<p>Вы уверены, что хотите удалить подразделение '@Model.DepartmentName' и все связанные с ним данные?</p>
@if (Model.FunctionsToRemove != null)
{
    <p>Будут удалены следующие связи сотрудников с должностями в подразделении</p>
    <table class="table">
        <thead>
            <tr>
                <th>Сотрудник</th>
                <th>Должность</th>
                <th>Доля ставки</th>
                <th>Совместитель</th>
                <th>Дата назначения</th>
                <th>Дата увольнения</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FunctionsToRemove)
            {
                <tr>
                    <td>@item.EmployeeName</td>
                    <td>@item.FunctionName</td>
                    <td>@item.Rate</td>
                    <td>@(item.IsConcurrent ? "Да" : "Нет")</td>
                    <td>@item.AssignedDate.ToShortDateString()</td>
                    <td>@(item.FiredDate.HasValue ? item.FiredDate.Value.ToShortDateString() : "-")</td>
                </tr>
            }
        </tbody>
    </table>
}

<form method="post" asp-action="Remove" asp-route-id="@Model.DepartmentId">
    <div class="text-danger" asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-outline-danger">Подтвердить удаление</button>
    <a class="btn btn-light" asp-action="Index">Отмена</a>
</form>