@page
@model AG.Web.Pages.Establishment.CreateEmployeeModel
@using Services.Domains

@{
    ViewData["Title"] = "Добавление сотрудника";
}
<h1 class="display-5">@ViewData["Title"]</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CurrentEmployee.DepartmentId" />
            <p class="form-group">
                <label asp-for="CurrentEmployee.LastName" class="control-label"></label>
                <input type="text" asp-for="CurrentEmployee.LastName" class="form-control" />
                <span asp-validation-for="CurrentEmployee.LastName"></span>
            </p>

            <p class="form-group">
                <label asp-for="CurrentEmployee.FirstName" class="control-label"></label>
                <input asp-for="CurrentEmployee.FirstName" class="form-control" />
                <span asp-validation-for="CurrentEmployee.FirstName"></span>
            </p>

            <p class="form-group">
                <label asp-for="CurrentEmployee.MiddleName" class="control-label"></label>
                <input asp-for="CurrentEmployee.MiddleName" class="form-control" />
                <span asp-validation-for="CurrentEmployee.MiddleName"></span>
            </p>

            <p class="form-group">
                <label asp-for="CurrentEmployee.Rate" class="control-label"></label>
                <input asp-for="CurrentEmployee.Rate" class="form-control" />
                <span asp-validation-for="CurrentEmployee.Rate"></span>
            </p>

            <p class="form-group">
                <label asp-for="CurrentEmployee.IsConcurrent" class="control-label"></label>
                <input type="checkbox" name="isConcurrent" value="@Model.CurrentEmployee.IsConcurrent" checked="@Model.CurrentEmployee.IsConcurrent" />
                
            </p>

            <p class="form-group">
                <label asp-for="CurrentEmployee.Email" class="control-label"></label>
                <input asp-for="CurrentEmployee.Email" class="form-control" />
                <span asp-validation-for="CurrentEmployee.Email"></span>
            </p>

            <p class="form-group">
                <label asp-for="CurrentEmployee.PhoneNumber" class="control-label"></label>
                <input asp-for="CurrentEmployee.PhoneNumber" class="form-control" />
                <span asp-validation-for="CurrentEmployee.PhoneNumber"></span>
            </p>

            <p class="form-group">
                <label asp-for="CurrentEmployee.FunctionName" class="control-label"></label>
                <select asp-items="@Model.AvailableFunctionsSL" asp-for="CurrentEmployee.FunctionId" class="form-control">
                    <option value="@Guid.Empty">--Не указана--</option>
                </select>
                <span asp-validation-for="CurrentEmployee.FunctionId"></span>
            </p>

            <p class="form-group">
                <label asp-for="CurrentEmployee.DepartmentName" class="control-label"></label>
                <select asp-items="@Model.AvailableDepartmentsSL" asp-for="CurrentEmployee.DepartmentId" class="form-control">
                    <option value="@Guid.Empty">--Не выбрано--</option>
                </select>
                <span asp-validation-for="CurrentEmployee.DepartmentId"></span>
            </p>

            <p class="form-group">
                <label asp-for="CurrentEmployee.StatusName" class="control-label"></label>
                <select asp-items="@Model.AvailableStatusesSL" asp-for="CurrentEmployee.StatusId" class="form-control">
                    <option value="@Guid.Empty">--Не задан--</option>
                </select>
                <span asp-validation-for="CurrentEmployee.StatusId"></span>
            </p>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a class="btn btn-light" asp-page="./Employees" asp-route-departmentId="@Model.CurrentEmployee.DepartmentId">Отмена</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}