@page
@model AG.Web.Pages.Establishment.DetailsEmployeeModel
@using Services.Domains

@{
    ViewData["Title"] = "Карточка сотрудника";
}
<h1 class="display-4">@ViewData["Title"]</h1>
<div>
    <h4 class="display-5">@Model.CurrentEmployee.FullName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentEmployee.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentEmployee.LastName)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentEmployee.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentEmployee.FirstName)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentEmployee.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentEmployee.MiddleName)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentEmployee.Rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentEmployee.Rate)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentEmployee.FunctionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentEmployee.FunctionName)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentEmployee.StatusName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentEmployee.StatusName)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentEmployee.DepartmentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentEmployee.DepartmentName)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentEmployee.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentEmployee.Email)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentEmployee.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentEmployee.PhoneNumber)
        </dd>
    </dl>
</div>