@using AG.ASP.NET.ViewModels.Establishment
@using Services.Domains.Security

@model DepartmentsModel
@{
    ViewData["Title"] = "Подразделения";
}

<h1 class="display-4">Подразделения</h1>
<h3 class="display-5">@Model.EstablishmentName</h3>

@if (ViewContext.HttpContext.User.IsInRole(CustomRoles.MODERATOR) | ViewContext.HttpContext.User.IsInRole(CustomRoles.ADMIN))
{
    <button class="btn btn-primary" asp-action="add" asp-controller="Department">Добавить подразделение</button>
}

<table class="table table-bordered table-hover table-sm">
    <thead class="thead-light">
        <tr>
            <th scope="col"><b>Название</b></th>
            <th scope="col"><b>Количество сотрудников</b></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model.DepartmentsList)
        {
            <tr>
                <td scope="row">@department.Name</td>
                <td scope="row">@department.EmployeesCount</td>
                <td scope="row">@Html.ActionLink("Редактировать", "Edit", "Departments",new {departmentId = department.Id})</td>
                <td scope="row">@Html.ActionLink("Сотрудники", "Employees", "Departments", new { departmentId = department.Id })</td>
            </tr>
        }
    </tbody>
    
</table>
