@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Сброс пароля";
}
<h1>@ViewData["Title"] для пользователя</h1>
<h2>@Model.Username</h2>

<div class="col-md-4">
    <form asp-controller="Users" asp-action="ResetPassword" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Username)

        <div class="form-floating mb-3">
            @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control" })
            <label>Введите новый пароль</label>
        </div>

        <button class="btn btn-primary" type="submit">Сбросить</button>
        <a class="btn btn-light" asp-area="Admin" asp-action="Index" asp-controller="Users">Отмена</a>
    </form>
</div>