@model EmployeeIndexViewModel
@{
    ViewData["Title"] = "Сотрудники";
}
<h3>Список сотрудников</h3>
<h1 class="mb-3">@Model.DepartmentName</h1>
<a class="btn btn-sm btn-outline-primary mb-3" asp-action="Create" asp-controller="Employee" asp-route-departmentId="@Model.DepartmentId">Добавить сотрудника</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Доля ставки</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Employees)
        {
            <tr>
                <td>@employee.ShortName</td>
                <td>@employee.Function</td>
                <td>@employee.Rate</td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", "Employee", new { employeeId = employee.Id, departmentId = Model.DepartmentId }, new { @class = "btn btn-sm btn-link" })
                    @Html.ActionLink("Удалить", "Remove", "Employee", new { employeeId = employee.Id }, new { @class = "btn btn-sm btn-link text-danger" })
                </td>
                <td>
                    <a asp-area="" asp-action="Index" asp-controller="EmployeeTimeInterval" asp-route-employeeId="@employee.Id" class="btn btn-sm btn-danger">Неявки</a>
                    @Html.ActionLink("Должности", "Index", "EmployeeFunction", new { employeeId = employee.Id }, new { @class = "btn btn-sm btn-secondary" })
                </td>
            </tr>
        }
    </tbody>
</table>